[submodule "doom/doomgeneric"]
	path = doom/doomgeneric
	url = https://github.com/ozkl/doomgeneric.git
[submodule "pico/thirdparty/ioLibrary_Driver"]
	path = pico/thirdparty/ioLibrary_Driver
	url = https://github.com/Wiznet/ioLibrary_Driver.git
